<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Skylight</a>
        <a class="active" href="/list">Album</a>
        <a href="#about">About</a>
        <div style="float:right"><a href="#" onclick="deleteAll()">Clear All</a></div>

      </div>
    <div id="list-container">
    </div>
    <script src="./js/list.js"></script>
</body>
</html>

